$white : #ffff;
$black : #121212;
$gray : #F8F7FC;
$lightGray : #A7B7DD;
$darkGray : #2A4178;
$lightBlue : #C3DFFA;
$blue200 :#6BAAFC;
$blue400 :#305FEC;
$red100 : #EF5E7A;
$red200: #D35385;
$magenta100 : #D623FE;
$magenta200: #A530F2
// $shadowBg