@use '../assets/style/color.scss' as *;

.app-layout {
    display: flex;
    justify-content: space-between;
    background-color: $gray;
    padding: 24px;
    margin: 24px;
    border-radius: 24px;
    gap: 24px;

    .sidebar-nav-container {
        width: 20%;
        max-width: 200px;
    }

    .main-container {
        width: 80%;
    }

}